// Defino variables de Colores
$body-bg: slategrey;
$bg-Gris-claro: lightgrey;
$gris-claro: #F8F9FA;

$negro: black;
$blanco: white;

// Defino variables de Anchos y Altos
$header-height: 7vh;
$main-min-height: 84.9vh;

// Defino variables de Bordes
$nav-border: 2px $negro solid;